:root {
  --primary-clr: #eee;
  --primary-clr-dark: #aaa;
  --border-clr: #222;
  --bgd-light: rgba(0, 0, 0, 0.6);
  --bgd-light-hover: rgba(99, 99, 99, 0.4);
  --bgd-dark: rgba(0, 0, 0, 0.9);
  --highlight: #d4b483;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 100;
  font-size: clamp(1rem, calc(1vw + 0.2rem), 1.5rem);
  color: var(--primary-clr);
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: min(80px, 5vw);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgd-dark);
  padding: min(0.7em, 5vw) 0 min(0.7em, 3vw) 0;
}

header h1 {
  font-family: "Tangerine", cursive;
  font-weight: bolder;
  padding: 0 min(15px, 1vw);
  font-size: clamp(3rem, calc(5vw + 1rem), 10rem);
  margin-bottom: min(1rem, 8%);
  transition: margin-right 0.3s ease-in;
}

header h1:hover {
  color: var(--highlight);
  margin-right: 10px;
  transition: margin-right 0.3s ease-in;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: min(20px, 2%);
}

header nav button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0 0.7em 0.5em 0.7em;
  transition: transform 0.3s ease-in;
}

header nav button:hover {
  cursor: pointer;
  transform: translateY(-7px);
  transition: transform 0.3s ease-in;
}

.active {
  border-bottom: 2px solid var(--highlight);
}

footer {
  margin-top: auto;
  background-color: var(--bgd-light);
  padding: min(20px, 1%) min(40px, 3%);
  font-size: clamp(0.2rem, calc(1vw + 5px), 1rem);
  font-weight: 500;
}

.copyright-info {
  display: flex;
  gap: 15px;
}

.copyright-info p:last-of-type {
  margin-left: auto;
}

a {
  color: white;
}

i.fa-github {
  font-size: clamp(0.5rem, calc(1vw + 5px), 24px);
  margin-left: 5px;
}

#content {
  display: flex;
  flex-grow: 1;
  /* border: 2px solid pink; */
}

#content > * {
  background-color: var(--bgd-light);
  flex-basis: 700px;
  margin: auto;
}

.home {
  text-align: center;
  padding: min(30px, 10%) 10px;
}

.home p:first-of-type {
  margin-bottom: min(20px, 10%);
}

.img-container {
  margin: 30px 0;
}
img {
  max-width: 100%;
  object-fit: contain;
}

.contact {
  padding: min(18px, 10%) min(40px, 10%);
}
.contact p:first-of-type {
  margin-bottom: min(15px, 6%);
}
.contact div:last-of-type {
  max-width: 600px;
  padding: min(20px, 4%) 0 0 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  background-color: var(--bgd-light);
  padding: min(30px, 5vw);
  gap: min(30px, 5vw);
}

.dish {
  display: flex;
  /* border: 1px solid red; */
  row-gap: min(15px, 5vw);
  flex-direction: column-reverse;
  background-color: var(--bgd-light);
  padding: min(30px, 10vw) min(15px, 5vw);
}

.dish:hover {
  background-color: var(--bgd-light-hover);
}
.dish p:first-of-type {
  font-weight: 700;
  font-size: clamp(1.5rem, calc(1vw + 0.2rem), 2rem);
}

.dish p:last-of-type {
  margin-top: min(15px, 5vw);
}

.dish-img {
  /* border: 2px solid red; */
  max-width: 70%;
  margin: 0 auto;
  padding: 0 min(40px, 5vw);
}