@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'headings';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --primary: #6B8E6E;
  --background: #FAF7F2;
  --accent: #C97B63;
  --text: #2F2F2F;
  --highlight: #D4B483;
  
}
body {
  font-family: 'Lato';
  background-color: #FAF7F2;
  font-size: 60px;
}

#content p:last-of-type {
  font-family: system-ui;
}