@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'headings';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --primary: #6B8E6E;
  --background: #FAF7F2;
  --accent: #C97B63;
  --text: #2F2F2F;
  --highlight: #D4B483;

}
body {
  font-family: 'Lato';
  background-color: var(--background);
  font-size: 60px;
}

.logo {
  text-align: center;
  line-height: 1.1;
  margin: 0;
}

.logo-main {
  display: block;
  font-family: 'headings', serif;
  font-size: 4rem;
  color: var(--primary);
  letter-spacing: 1px;
}

.logo-sub {
  display: block;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text);
  margin-top: 0.3rem;
  position: relative;
}

/* Subtle gold underline */
.logo-sub::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--highlight);
  margin: 0.5rem auto 0;
}

/*Tab UI style*/
